mixin MODULE-owlSlider()
	<!-- split modules/owlSlider -->
	.owlSlider
		.ove-mainSlider.owl-carousel
			.sliderPage.sliderPage--mod1.content-center.text
				h2 Перинатальный центр
				p Уникальные операции в нашей больнице стали почти рутиной, каждый год высококвалифицированную медицинскую помощь получают более тысячи человек.
				+BL-learnMoreButtom('Узнать','','CarouselButton')
			.sliderPage.sliderPage--mod2.content-center.text
				h2 Перинатальный центр
				p Уникальные операции в нашей больнице стали почти рутиной, каждый год высококвалифицированную медицинскую помощь получают более тысячи человек.
				+BL-learnMoreButtom('Узнать','','CarouselButton')
			.sliderPage.sliderPage--mod3.content-center.text
				h2 Перинатальный центр
				p Уникальные операции в нашей больнице стали почти рутиной, каждый год высококвалифицированную медицинскую помощь получают более тысячи человек.
				+BL-learnMoreButtom('Узнать','','CarouselButton')
