<!-- split footer.html -->
footer.mainFooter
    .container
        .row
            .col-2-tp.col-12-m.content-center
                .footerLogoWrap
                    +logo-img('logo.png')
            .col-3-tp.footerContacts.no-gutter.col-12-m.content-center
                p ВОРОНЕЖСКАЯ ОБЛАСТНАЯ КЛИНИЧЕСКАЯ БОЛЬНИЦА №1
                p +7 (473) 228-65-07 г. Воронеж, ул. Минская, 43
                p БУЗ ВО «ВГКБСМП №10»
            .col-7-tp.hide-m
                +MODULE-lightMenu('MainMenu')
            .col-12-tp.content-center
                p.copyright Copyright: All right reserved 2017.

include ../SCRIPTS-STYLES/FOOTER/_footerScripts